html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

/*Camera feed container*/
#camera_container{
/* TODO overlay on video feed*/
  height: 100%;
  margin-left: 10%;
}
#camera_container img {
  width: 100%;
  height: 100%;
}

/* Buttons */
#camera_buttons {
  width: 10%;
  position: absolute;
}
#camera_buttons button {
  /*width: 100px;*/
  width: 100%;
}

/*Label image container*/
#camera2_container{
/*  height: 20%;*/
  margin-left: 10%;
}
#camera2_container img {
  position: absolute;
  width: 640px;
  height: 360px;
  
/*  width: 100%;
  height: 100%;*/
}

/*Monitor overlay*/
.monitor {
  height: 100%;
  margin-left: 10%;
} 
#monitor_overlay{
  position: absolute;
  width: 640px;
  height: 360px;
  
/*  width: 100%;
  height: 100%;*/
}




#monitor_overlay2{
  width: 640px;
  height: 360px;
  position: absolute;
  
/*  width: 100%;
  height: 100%;*/
}

/*Moniter info display*/
.camera_overlay {
  position: fixed;
  right: 20px;
  top: 0px;
  color: red;
  font-size: x-large;
}
