html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#camera_container{
  height: 100%;
  /*margin-left: 100px;*/
  margin-left: 10%;
}
#camera_container img {
  width: 100%;
  height: 100%;
}
/* Buttons */
#camera_buttons {
  width: 10%;
  position: absolute;
}
#camera_buttons button {
  /*width: 100px;*/
  width: 100%;
}

#camera2_container{
  height: 100%;
  /*margin-left: 100px;*/
  margin-left: 10%;
}
#camera2_container img {
  width: 100%;
  height: 100%;
}

.camera_overlay {
  position: fixed;
  right: 20px;
  top: 0px;
  color: red;
}