body {
  background-color: #b0c4de;
	margin: 0px;
	overflow: hidden;
}

#canvases {
  position: absolute;
  top: 0;
  left: 50px;
  display: none;
}

#buttons {
  position: absolute;
  font-size: 10px;
}

.btn {
  width: 80px;
}

#stats {
  position: absolute;
  bottom: 0px;
}