body {
  background-color:#b0c4de;
}

#scene {
  width: 640px;
  height: 480px;
  /*position: absolute;*/
  /*
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  */
  /*padding: 40px;*/
  /*display: none;*/
}


div#canvases {
  display: none;
}

.btn {
  border-style: solid;
  border-width: 2px;
}