body {
  background-color: #b0c4de;
	margin: 0px;
	overflow: hidden;
}

#images canvas {
  width: 600;
  height: 400;
}

#buttons {
  position: absolute;
  font-size: 10px;
}

.settings {
  font-size: 14px;
}

.btn {
  width: 80px;
}

#stats {
  position: absolute;
  bottom: 0px;
}
