html, body {
  font-family: palatino;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
svg#full {
	position: absolute;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
}
div.sensor_c {
	background-color: #bff;
}
div.process_c {
	background-color: lightgrey;
}
div.sensor {
	border: 1px solid #333;
	position: absolute;
	height: auto;
	width: auto;
	border-radius: .1in;
	padding: .1in;
}
div.process {
	border: 1px solid #333;
	position: absolute;
	padding: .01in;
	border-radius: 0.1in;
	float: left;
}
#operator{
	position: absolute;
	border:1px solid #333;
	top: .2in;
	left: 3.5in;
	width: 2.25in;
	height: 1.35in;
}
#operator div{
	position: absolute;
	top	: 0.05in;
	right: 0.1in;
}
.thread {
	border:1px solid #333;
	padding: .05in;
	border-radius: .1in;
	margin-right: 0.025in;
	margin-left: 0.025in;
	margin-top: 0.025in;
	margin-bottom: 0.025in;
}
.thread#arm {
	position: absolute;
	left: 1.25in;
	top: 0in;
	height: 1.35in;
}
.thread#motion {
	position: absolute;
	left: 2.5in;
	top: .0in;
	height: 1.35in;
	background-color: #ffb;
}
div._l {
	background-color: #fbb;
}
div._r {
	background-color: #bfb;
}
div.fsm {
	background-color: #ffb;
}

/* Position the nodes */
#lidar {
	top: .24in;
	left: .575in;
}
#mesh {
	top: .8in;
	left: .2in;
}
#camera2 {
	top: 1.8in;
	left: .3in;
}
#camera {
	top: 1.9in;
	left: .2in;
}
#audio {
	top: 2.7in;
	left: .3in;
}
#rpc {
	top: .27in;
	left: 2in;
}
#state {
	top: 1.75in;
	left: 2in;
	height: 1.5in;
	width: 3.75in;
}
#state .thread {
	width: 1.1in;
}
#nodejs {
	top: 1in;
	left: 3.55in;
}
#ssh {
	top: .25in;
	left: 3.55in;
}
#browser {
	top: .5in;
	left: 4.4in;
}