html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#lt {
  position: fixed;
  top: 0px;
  left: 0px;
}
#rt {
  position: fixed;
  top: 0px;
  right: 0px;
}

#lg {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
#rg {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

button {
  width: 100px;
}

#li {
  position: fixed;
  top: 200px;
  left: 200px;
}

#ri {
  position: fixed;
  top: 200px;
  right: 200px;
}

/*
.chart{
  position: absolute;
  left: 25%;
  top: 10%;
}
*/