body {
  /* background-color: #444; */
}

.mesh_selection {
  float: left;
}

#mesh_clicks{
  clear: both;
}

#mesh_select {
  height: 100px;
}

#buttons {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

#slam_container {
  position: absolute;
  left:     0px;
  top:      0px;
  width:  400px;
  height: 400px;
  background-color: #080;
}

#fsm_container {
  position: absolute;
  left:     0px;
  top:    400px;
  width:  400px;
  height: 280px;
}

#fsm_container .label {
  width: 50px;
}

#camera_container {
  position: absolute;
  left:   400px;
  top:      0px;
  width:  640px;
  height: 360px;
  background-color: #800;
}

#three_container {
  position: absolute;
  left:   400px;
  top:    360px;
  width:  640px;
  height: 320px;
  background-color: #008;
}

#mesh_container {
  position: absolute;
  left:  1040px;
  top:      0px;
  width:  500px;
  height: 500px;
  background-color: #880;
}

#mesh_container .mesh_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
}

#selection_container {
  position: absolute;
  left:  1040px;
  top:    500px;
  width:  500px;
  height: 180px;
}