body {
  /* background-color: #444; */
}

/*
 * Mesh
 */

.mesh_selection {
  float: left;
}

#world_container {
  position: absolute;
  left:     0px;
  top:      0px;
  width:  640px;
  height: 400px;
  background-color: #080;
}

/*
 * FSM
 */

#fsm_container {
  position: absolute;
  left:     0px;
  top:    400px;
  width:  340px;
  height: 280px;
}

#fsm_container .label {
  width: 50px;
}

/*
 * Waypoints
 */

#wp_container {
  position: absolute;
  left:   340px;
  top:    400px;
  width:  300px;
  height: 280px;
}

#fsm_container .label {
  width: 50px;
}

/*
 * Camera
 */

#camera_container {
  position: absolute;
  left:   640px;
  top:      0px;
  width:  640px;
  height: 360px;
  background-color: #800;
}