body {
  /* background-color: #444; */
  font-family: helvetica;
}

/*
 * FSM and controls
 */
#fsm_container {
  width:  320px;
}

/*
 * Camera
 */
#camera_container img {
  width:  320px;
  height: 180px;
}

/*
 * Mesh
 */
.mesh_selection {
  float: left;
}

#world_container {
  position: absolute;
  left:     340px;
  top:      0px;
  width:  400px;
  height: 400px;
  background-color: #080;
}