<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
     
<head>
  <title>SUR Cameras</title>
  <meta charset="utf-8">
  
  <!-- CSS for Styling the page -->
  <link rel="stylesheet" type="text/css" href="/css/gh-buttons.css">
  <link rel="stylesheet" type="text/css" href="/css/fb-buttons.css">
  
  <!-- Application Frameworks -->
  <script src="/lib/d3.min.js"></script>
  <script src="/lib/qwest.min.js"></script>
  <script src="/lib/sprintf.min.js"></script>
  <script src="/lib/hammer.min.js"></script>
  <script src="/lib/keypress.min.js"></script>

  <!-- SUR data JS -->
  <script src="/js/include.js"></script>
  <script src="/js/camera.js"></script>
  <script src="/js/camera2.js"></script>
  <script>
    document.addEventListener( "DOMContentLoaded",Camera.setup);
    document.addEventListener( "DOMContentLoaded",Camera2.setup);
  </script>
 
</head>

<body>

<!--https://github.com/necolas/css3-github-buttons-->
<div id="left_side">
  
  <!-- Head Camera Image Stream -->
  <div id="camera_container"></div>
  
  <!-- Camera Streaming Settings and laser scanner ranges -->
  <div id="vision">
    <div class="uibutton-group minor-group">
      <a href="#" class="large uibutton" id="single_cam">1</a>
      <a href="#" class="uibutton large special" id="stream_cam">&infin;</a>
      <a href="#" class="uibutton large" id="gaze_cam">Gaze</a>
    </div>
  </div>
  
  <!-- Camera2 Image Stream -->
  <div id="camera2_container"></div>
  
</div>

</body>

</html>
