<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

<head>
  <title>SUR Ecto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no">

  <!-- CSS for Styling the page -->
  <link rel="stylesheet" type="text/css" href="/css/gh-buttons.css">

  <!-- Application Frameworks -->

  <!-- SUR data JS -->
  <script src="/controllers/include.js"></script>
	<script src="/controllers/ecto.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/ecto.css">

</head>

<body></body>

</html>
