<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
     
<head>
  <title>SUR Visualizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  
  <!-- CSS for Styling the page -->
  <link rel="stylesheet" type="text/css" href="/css/gh-buttons.css">
  <link rel="stylesheet" type="text/css" href="/css/fb-buttons.css">
  
  <!-- Application Frameworks -->
  <script src="/lib/d3.min.js"></script>
  <script src="/lib/qwest.min.js"></script>
  <script src="/lib/sprintf.min.js"></script>
  <script src="/lib/hammer.min.js"></script>
  <script src="/lib/keypress.min.js"></script>
  <script src="/lib/peer.min.js"></script>

  <!-- THREE.js and its helpers -->
  <script src="/lib/three.min.js"></script>
  <script src="/lib/OrbitControls.js"></script>
  <script src="/lib/TransformControls.js"></script>
  <script src="/lib/STLLoader.js"></script>
  <script src="/lib/stats.min.js"></script>

  <!-- SUR data JS -->
  <script src="/controllers/include.js"></script>
  <script src="/controllers/manipulation.js"></script>
  <script src="/controllers/world.js"></script>
  <script src="/controllers/transform.js"></script>
  <script src="/controllers/mesh.js"></script>
  
  <!-- Specific Objects of Interest -->
  <script src="/models/robot.js"></script>
  <script src="/models/waypoint.js"></script>
  <script src="/models/tool.js"></script>
  <script src="/models/door.js"></script>
  <script src="/models/hand.js"></script>
  <script src="/models/hose.js"></script>
  <script src="/models/wye.js"></script>
  <script src="/models/largevalve.js"></script>
  <script src="/models/barvalve.js"></script>
  
  <!-- App specific needs -->
  <link rel="stylesheet" type="text/css" href="/css/meshy.css">
  <script src="/controllers/meshy.js"></script>
 
</head>

<body>
  <!-- Tweak modes -->
  <div class="button-group" id="proceed">
    <a href="#" class="big button icon pin" id="body_init">Init</a>
    <a href="#" class="big button icon search" id="body_follow">Follow</a>
    <a href="#" class="big button icon arrowleft" id="proceed_reverse">Back</a>
    <a href="#" class="big button icon arrowright" id="proceed_proceed">Go</a>
    <!--
    <a href="#" class="big button icon approve" id="proceed_notify">Notify</a>
    <a href="#" class="big button icon add" id="proceed_override">Override</a>
    <a href="#" class="big button icon move" id="modify_obj">Modify</a>
    -->
    <a href="#" class="big button icon loop" id="loop_obj">Loop</a>
    <a href="#" class="big button icon rss" id="send_obj">Send</a>
    <select name="objects_menu" id="menu_obj"></select>
  </div>
  <!-- Viewpoints -->
  <div class="button-group" id="view">
    <a href="#" class="big button" id="vantage_top">Top</a>
    <a href="#" class="big button" id="vantage_chest">Front</a>
    <a href="#" class="big button" id="vantage_side">Side</a>
    <a href="#" class="big button" id="vantage_item">Item</a>
    <a href="#" class="big button" id="vantage_robot">Head</a>
  </div>
  <!-- 3D scene -->
  <div id="world_container"></div>
  <!-- FSM events -->
  <div class="button-group" id="fsm">
    <a href="#" class="big button" id="arm_doorgrab">Pull Door</a>
    <a href="#" class="big button" id="arm_pushdoorgrab">Push Door</a>
    <a href="#" class="big button" id="arm_loaddoorgrab">Yank Door</a>
    <a href="#" class="big button" id="arm_toolgrab">Pickup Drill</a>
    <a href="#" class="big button" id="arm_hosegrab">Grab Hose</a>
    <a href="#" class="big button" id="arm_smallvalvegrab">Circle Valve</a>
    <a href="#" class="big button" id="arm_barvalvegrab">Bar Valve</a>
  </div>
  <!-- Modify helpers -->
  <div class="button-group" id="visual">
    <a href="#" class="big button" id="slow_mesh">SlowMesh</a>
    <a href="#" class="big button" id="fast_mesh">FastMesh</a>
    <a href="#" class="big button" id="wipe_mesh">WipeMesh</a>
    <a href="#" class="big button" id="robot_show">ShowBot</a>
    <a href="#" class="big button" id="robot_hide">HideBot</a>
  </div>
  
</body>

</html>
