<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
     
<head>
  <title>SUR Teleoperation</title>
  <meta charset="utf-8">
    
  <!-- Application Frameworks -->
  <script src="/lib/d3.min.js"></script>
  <script src="/lib/qwest.min.js"></script>
  <script src="/lib/sprintf.min.js"></script>
  <script src="/lib/hammer.min.js"></script>
  <script src="/lib/keypress.min.js"></script>
  <script src="/lib/peer.min.js"></script>

  <!-- SUR data JS -->
  <script src="/controllers/include.js"></script>
  <script src="/controllers/transform.js"></script>
  
  <!-- App specific needs -->
  <link rel="stylesheet" type="text/css" href="/css/teleop.css">
  <script src="/controllers/teleop.js"></script>
 
</head>

<body>
  
  <div id="left_arm">
    <span class='title'>Left</span>
    <button id='larm_reset'>L Reset</button>
    <button id='larm_go'>L Go</button>
    <br/>
    1: <input type="range" name="qL1" id="qL1" min="-1.57" max="1.57" step=".01">
    <br/>
    2: <input type="range" name="qL2" id="qL2" min="-1.57" max="1.57" step=".01">
    <br/>
    3: <input type="range" name="qL3" id="qL3" min="-1.57" max="1.57" step=".01">
    <br/>
    4: <input type="range" name="qL4" id="qL4" min="-1.57" max="1.57" step=".01">
    <br/>
    5: <input type="range" name="qL5" id="qL5" min="-1.57" max="1.57" step=".01">
    <br/>
    6: <input type="range" name="qL6" id="qL6" min="-1.57" max="1.57" step=".01">
    <br/>
    7: <input type="range" name="qL7" id="qL7" min="-1.57" max="1.57" step=".01">
    <br/>
  </div>
  
  <div id="right_arm">
    <span class='title'>Right</span>
    <button id='rarm_reset'>R Reset</button>
    <button id='rarm_go'>R Go</button>
    <br/>
    1: <input type="range" name="qR1" id="qR1" min="-1.57" max="1.57" step=".01">
    <br/>
    2: <input type="range" name="qR2" id="qR2" min="-1.57" max="1.57" step=".01">
    <br/>
    3: <input type="range" name="qR3" id="qR3" min="-1.57" max="1.57" step=".01">
    <br/>
    4: <input type="range" name="qR4" id="qR4" min="-1.57" max="1.57" step=".01">
    <br/>
    5: <input type="range" name="qR5" id="qR5" min="-1.57" max="1.57" step=".01">
    <br/>
    6: <input type="range" name="qR6" id="qR6" min="-1.57" max="1.57" step=".01">
    <br/>
    7: <input type="range" name="qR7" id="qR7" min="-1.57" max="1.57" step=".01">
    <br/>
  </div>

  <div id="waist">
    Waist Yaw:
    <input type="range" name="qW1" id='qW1' step=".01">
    <br/>
    Waist Pitch:
    <input type="range" name="qW2" id='qW2' step=".01">
    <br/>
    <button id='waist_reset'>W Reset</button>
    <button id='waist_go'>W Go</button>
    
</body>

</html>
