html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#world_container {
  height: 100%;
}
#topic {
  position: fixed;
  top: 0px;
  width: 100%;
}
select {
  font-size: 24pt;
}
#topic select {
  float: left;
}
#topic div {
  float: left;
}
#info {
  font-size: 10pt;
}
/*
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
}
*/
#topic2 {
  position: absolute;
  cursor: default;
}
#topic2 ul {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 0px;
  padding: 0px;
  background-color: white;
  list-style-type:none
}
#topic2 hr{
  margin: 0px;
}
#topic2 li {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#topic2 li:hover {
  background-color: lightgreen;
}

.hidden{
  visibility: hidden;
}
