html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#world_container {
  height: 100%;
}
#topic {
  position: fixed;
  top: 0px;
  width: 100%;
}
select {
  font-size: 16pt;
}
#topic select {
  float: left;
}
#topic div {
  float: left;
}
#info {
  font-size: 18pt;
	position: fixed;
	top: 22pt;
}
#btm_btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#ur_btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
#r_btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#topic2 {
  position: absolute;
  cursor: default;
}
#topic2 ul {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 0px;
  padding: 0px;
  background-color: white;
  list-style-type:none
}
#topic2 hr{
  margin: 0px;
}
#topic2 li {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#topic2 li:hover {
  background-color: lightgreen;
}

.hidden{
  visibility: hidden;
}
