html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#map_container {
  height: 100%;
}
#topic {
  position: fixed;
  top: 0px;
  width: 100%;
}
select {
  font-size: 24pt;
}
#topic select {
  float: left;
}
#topic div {
  float: left;
}
#info {
  font-size: 10pt;
}
/* SVG
http://www.hongkiat.com/blog/scalable-vector-graphic-css-styling/
*/
.obstacle {
	fill: "red";
	stroke: "red";
	stroke-width: 0.01;
}
.wall {
	fill: "black";
	stroke: "black";
	stroke-width: 0.05;
}
.flat {
	fill: "green";
	stroke: "green";
	stroke-width: 0.01;
}
.step {
	fill: "orange";
	stroke: "orange";
	stroke-width: 0.01;
}