#camera_container{
  height: 100%;
	margin-left: 100pt;
}
#camera_buttons {
	width: 100pt;
  position: absolute;
}
#camera_buttons button {
  width: 100%;
}
#camera_container canvas {
	max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.nodisplay {
	display: none;
}