html, body {
  font-family: helvetica;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#left_arm input, #right_arm input {
  width: 80%;
  margin-bottom: 20px;
}

#left_arm {
  top: 0%;
  left: 0%;
  width: 50%;
}

#right_arm {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
}

button{
  margin-left: 10px;
}