<!-- Tweak modes -->
<div class="button-group" id="topic">
	<button id="go" name='Proceed' class="button">Proceed</button>
	<button id="reset" name='Reset' class="button">Reset</button>
  <button id="move" name='Walk' class="button">Walk</button>
	<button id="step" name='Step' class="button" data-foot="L_FOOT">Step</button>
	<button id="ik" name='IK' class="button" data-hand="L_TIP">IK</button>
	<button id="teleop" name='Teleop' class="button">Teleop</button>
	<select id="joints" name="joints"></select>
</div>
<div id="info">[INFO]</div>
<!-- 3D scene -->
<div id="world_container"></div>
<!-- Custom menu -->
<div id="topic2" class='hidden'>
  <ul>
    <li data-action='reactive'>Quickly</li>
    <hr>
    <li data-action='preview'>Carefully</li>
    <hr>
    <li data-action='ramp'>Ramp</li>
    <hr>
    <li data-action='step'>Step</li>
    <hr>
    <li data-action='avoid'>Avoid</li>
    <hr>
    <li data-action='clear'>Clear</li>
  </ul>
</div>
