<!-- Tweak modes -->
<div class="button-group" id="topic">
	<button id="reset" class="button">Reset</button>
	<button id="go" class="button">Go</button>
  <button id="move" class="button">Move</button>
	<button id="step" class="button" data-foot="left">Step</button>
	<button id="teleop" class="button">Teleop</button>
	<select id="joints" name="joints"></select>
	<button id="proceed" class="button">Proceed</button>
  <div id="info"></div>
</div>
<!-- 3D scene -->
<div id="world_container"></div>
<!-- Custom menu -->
<div id="topic2" class='hidden'>
  <ul>
    <li data-action='reactive'>Quickly</li>
    <hr>
    <li data-action='preview'>Carefully</li>
    <hr>
    <li data-action='ramp'>Ramp</li>
    <hr>
    <li data-action='step'>Step</li>
    <hr>
    <li data-action='avoid'>Avoid</li>
    <hr>
    <li data-action='clear'>Clear</li>
  </ul>
</div>
