<div class="button-group shm" id="hcm">
	<div class="shmname"><strong>Network</strong></div>
	<button id="indoor" class="big button" data-shm="hcm" data-segment="network" data-key="indoors" data-value="[1]">Indoor</button>
	<button id="outdoor" class="big button" data-shm="hcm" data-segment="network" data-key="indoors" data-value="[0]">Outdoor</button>
</div>
<hr/>
<div class="button-group fsm" id="Body">
	<div class="fsmname"><strong>Body</strong></div>
	<button id="init" class="big bigger button">Init</button>
	<button id="stop" class="big bigger button danger">Stop</button>
</div>
<hr/>
<div class="button-group fsm" id="Head">
	<div class="fsmname"><strong>Head</strong></div>
	<button id="init" class="big bigger button">Init</button>
	<button id="mesh" class="big bigger button">Mesh</button>
	<button id="trackleft" class="big bigger button">Look L Hand</button>
	<button id="trackright" class="big bigger button">Look R Hand</button>
	<button id="teleop" class="big bigger button">Teleop</button>
</div>
<hr/>
<div class="button-group fsm" id="Arm">
	<div class="fsmname"><strong>Arm</strong></div>
	<button id="init" class="big bigger button">Init</button>
	<button id="ready" class="big bigger button">Ready</button>
	<button id="teleop" class="big bigger button">Teleop</button>
	<button id="teleopraw" class="big bigger button">TeleopRaw</button>
</div>
<hr/>
<div class="button-group fsm" id="Gripper">
	<div class="fsmname"><strong>Gripper</strong></div>
	<button id="idle" class="big bigger button">Idle</button>
	<button id="init" class="big bigger button">Init</button>
	<button id="open" class="big bigger button">Open</button>
	<button id="center" class="big bigger button">Center</button>
  <button id="clench" class="big bigger button">Clench</button>
	<button id="teleop" class="big bigger button">Teleop Tq</button>
	<button id="teleoppos" class="big bigger button">Teleop Pos</button>
</div>
