<div class="button-group fsm" id="Gripper">
	<div class="fsmname"><strong>Gripper</strong></div>
	<button id="idle" class="big button">Idle</button>
	<button id="init" class="big button">Close</button>
	<button id="open" class="big button">Open</button>
	<button id="center" class="big button">Center</button>
  <button id="clench" class="big button">Clench</button>
	<button id="teleop" class="big button">Torque</button>
	<button id="teleoppos" class="big button position">Position</button>
</div>
<hr/>
