<!-- Camera Request Buttons -->
<div id="camera_buttons">
	<button class="big bigger button icon arrowup">
		Ahead</button>
	<br/>
	<button class="big bigger button icon arrowdown">
		Down</button>
	<br/>
	<button class="big bigger button icon arrowleft">
		Left</button>
	<br/>
	<button class="big bigger button icon arrowright">
		Right</button>
	<br/>
	<button class="big bigger button">
		Fast</button>
	<br/>
	<button class="big bigger button">
		Slow</button>
	<br/>
	<button class="big bigger button">
		Stop</button>
	<br/>
	<button class="big bigger button">
		Once</button>
	<br/>
</div>

<!-- Head Camera Image Stream -->
<div id="camera_container"></div>